@charset "utf-8";
/* CSS Document */

html, body {
  padding: 0;
  margin: 0;
  font-family: helvetica,verdana,arial,sans-serif;
  background-size: cover;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #030927;
}

ul {
  list-style-type: none;
  margin-left: 100px;
  text-align: left;
}

li {
  display:inline-block;
  margin-left: 10px;
  background-color: #3E8FB9;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
}

li:hover {
  background-color: #808080;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

h2 {
  text-align: center;
  margin: 0;
 }

.left {
  display: block;
  width: 20%;
  float: left;
  background-color: green;
}

.home .left {
  width:  48%;
}

.right {
  display: block;
  width: 20%;
  float: right;
  background-color: LightSalmon;
  overflow-y: scroll;
  height: 70vh;
}

.right2 {
  display: block;
  width: 20%;
  float: right;
  background-color: LightSalmon;
  overflow-y: scroll;
  height: 70vh;
}

.home .right {
  width:  48%;
  margin: 40px;
}

.main {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.story{
  text-align: center;
  background-color: #254663;
  opacity: 0.5;
  color: white;
  font-weight: bold;
  font-style: italic;
  border-radius: 8px;
  border: 2px solid #3983AC;
  padding: 20px;
  text-indent: justify;
}

.story h1 {
  font-weight: bold;
}

header {
  display: block;
  text-align: center;
  background:white;
  color: blue;
  height: 3%;  
}

img {
  height: 75vh;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}